{% load static %}
{% load humanize %}
<div class="container mt-5 productcontainer">
    <section class="section-content padding-y bg" style="background-color: #fafafa">
        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    <main class="col"></main>
                </aside>
                <main class="col-md-8 mb-5" style="background-color: #f8f9fa; border-radius: 5px">
                            <h4 class="card-title mt-3">Products for You</h4>
                            {% for product,attributes in products %}
                                <div class="col card-body pb-0 pt-0">
                                    <div class="row">
                                        <article class="card card-product-list" id="homecard">
                                            <div class="card-body">
                                                <div class="row">
                                                    <aside class="col-sm-3">
                                                        <a href="#" class="img-wrap">
                                                            <span class="badge badge-danger"> NEW </span>
                                                            <img src="{{ product.productImage.url }}">
                                                        </a>
                                                    </aside>
                                                    <aside class="col-sm-6 pr-0">
                                                        <a href="{% url 'home:productDetailsPage' %}?product_id={{ product.productID }}" class="title mt-2 h5">{{ product.productName }}</a>
                                                        <div class="rating-wrap mb-3">
                                                            <ul class="rating-stars">
                                                                <span class="fa checked fa-star{% if product.productRating < 1 %}-o empty {% endif %}"></span>
                                                                <span class="fa checked fa-star{% if product.productRating < 2 %}-o empty {% endif %}"></span>
                                                                <span class="fa checked fa-star{% if product.productRating < 3 %}-o empty {% endif %}"></span>
                                                                <span class="fa checked fa-star{% if product.productRating < 4 %}-o empty {% endif %}"></span>
                                                                <span class="fa checked fa-star{% if product.productRating < 5 %}-o empty {% endif %}"></span>
                                                            </ul>
                                                            <small class="label-rating text-muted">{{ product.productReviews }} Reviews</small>
                                                            <small class="label-rating text-success">
                                                                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                      <path fill-rule="evenodd" d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                                                                    </svg> {% if product.productOrders %}{{ product.productOrders }}{% else %}0{% endif %} orders
                                                            </small>
                                                        </div>
                                                        <ul>
                                                            <li>{{ attributes.bulletin1 }}</li>
                                                            <li>{{ attributes.bulletin2 }}</li>
                                                            <li>{{ attributes.bulletin3 }}</li>
                                                            <li>{{ attributes.bulletin4 }}</li>
                                                            <li>{{ attributes.bulletin5 }}</li>
                                                        </ul>
                                                    </aside>
                                                    <aside class="col-sm-3">
                                                        <div class="info-aside pr-0">
                                                            <div class="price-wrap mt-2">
                                                                <span class="price h5"> &#x20B9 {{ product.productPrice | intcomma }}</span>
                                                                <del class="price-old"> &#x20B9 980</del>
                                                            </div>
                                                            <p class="small text-success">Free Shipping</p>
                                                            <br>
                                                            <p>
                                                                <button type="button" class="btn btn-primary btn-block update-cart" data-action="add" data-product="{{ product.productID }}">
                                                                    <span class="text">Add to cart <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                                                      <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                                                                                    </svg></span>
                                                                </button>
                                                                <button type="button" class="btn btn-light btn-block border mt-2 update-wishlist" data-action="add" data-product="{{ product.productID }}">
                                                                    <span class="text"> Add to Wishlist</span>
                                                                </button>
                                                            </p>
                                                        </div>
                                                    </aside>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            {% endfor %}
                        </main>
            </div>
        </div>
    </section>
</div>