venv/
*.DS_Store
*.pyc
__pycache__
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
../Shopiva/.idea
.idea
Dockerfile
.dockerignore
node_modules/
db.sqlite3
media/*
!media/.gitkeep

